<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div class="logo">My evertec tools</div>
    <ul class="nav-links">
      <li><a routerLink="/tokens-format" routerLinkActive="active">Formateador de tokens</a></li>
      <li><a routerLink="/audits-format" routerLinkActive="active">Formateador de audits</a></li>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</body>
</html>
