<div class="container">
  <div class="header">
    <h2>Filtrador de audits</h2>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <!-- Columna Izquierda -->
    <div class="left-panel">
      <div class="input-group">
        <input type="text" placeholder="Ingresa la tarjeta usada..."  />
        <button>Filtrar</button>
      </div>
      <textarea placeholder="Ingresa el contenido del audit..."></textarea>
    </div>

    <!-- Columna Derecha -->
    <div class="right-panel">
      <textarea  readonly placeholder="El audit filtrado se mostrará aquí..."></textarea>
    </div>
  </div>

  <div class="footer">Filtrador de audits by José Alcivar</div>

</div>